* {
  font-family: "Fira Sans", sans-serif;
}
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(76, 76, 76, 0), rgba(76, 76, 76, 0.7)),
    url(images/background1.jpg);
  background-position: center;
  background-size: cover; /* Fit within the screen without cropping */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-attachment: fixed; /* Prevent scrolling */
  position: relative;
}

.general {
  width: 95vw; /* Increase the width */
  height: 38vw; /* Increase the height */
  background-color: #ffffff;
  box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.3); /* Use vw (viewport width) */
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(1vw + 1vh);
}
.header {
  margin-bottom: 2vw;
  margin-left: 1vw;
}
.header .nav-links a {
  align-items: center; /* Vertically center-align the content */
  justify-content: center; /* Horizontally center-align the content */
  color: #005b5f;
  text-decoration: none;
  display: inline-flex;
  padding: 0.267vw 0.534vw 0.534vw 0.534vw; /* Use vw (viewport width) */
  font-weight: bold;
  position: relative;
}

.header .nav-links a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -0.5vh;
  background-color: #005b5f;
  display: block;
  transition: width 0.4s ease;
  align-items: center;
}
.header .nav-links a:hover::after {
  width: 100%;
}
.header .nav-links a.active::after {
  color: #12bae8;
  width: 100%;
}
h1 {
  text-align: center;
  color: #be8999;
}

h4 {
  text-align: center;
  margin-bottom: 1vw; /* Use vw (viewport width) */
  margin-top: 0;
}
button {
  font-size: calc(0.8vw + 0.8vh);
  margin-bottom: 1vw; /* Use vw (viewport width) */
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border: 2px solid #f7bfcf;
  background: transparent;
  position: relative;
  cursor: pointer;
}
button:hover {
  border: 2px solid #f7bfcf;
  background-color: #f7bfcf;
  position: relative;
}
.no-hover {
  pointer-events: none; /* Disable pointer events to prevent hover */
  background-color: #f7bfcf;
}
.input-place {
  display: flex;
}
.material-icons {
  color: #399f79;
  transition: color 0.4s;
}
input:focus {
  outline: none;
  border: 1px solid #005b5f;
  color: #005b5f;
}
.input-place:focus-within .material-icons {
  color: #005b5f; /* Change the icon color when input is focused */
}

input {
  transition: border-color 0.3s;
  border: 1px solid #399f79;
  font-size: calc(0.8vw + 0.8vh);
  width: 15.7vw; /* Use vw (viewport width) */
  height: 1.5vw;
  margin-bottom: 1vw; /* Use vw (viewport width) */
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.allWithFilter {
  font-size: calc(0.5vw + 0.5vh);
  width: 10vw; /* Use vw (viewport width) */
  height: 1.5vw;
  margin-bottom: 1vw; /* Use vw (viewport width) */
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.table {
  border-collapse: collapse;
}

.table th {
  font-size: calc(1vw + 1vh);
  padding: 0.5vw; /* Use vw (viewport width) */
  text-align: left;
  background-color: #858487;
}
.table td {
  font-size: calc(1vw + 1vh);
  padding: 0.5vw; /* Use vw (viewport width) */
  text-align: left;
}
.table tr:nth-child(even) {
  background-color: #dbdade;
}

.input-container {
  display: flex;
}
